.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}


.App-header {
  padding-top: 70px;
  background-color: #303f4b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  color: rgb(232, 230, 227);
}

.App-link {
  color: #61dafb;
}

.card-container{
  display: grid;
    grid-template-columns: repeat(4,auto);
    grid-gap:10px;
    margin: 50px;
    justify-content: center;
}
#card{
    border-radius: 3%;
    float: left;
    background-color: rgb(24, 26, 27);
    padding:0px;
    margin:0px;
    margin-right:-33px;
    margin-top: 5px;
    height: 100%;
    width:100%;
    border-color:rgb(56, 61, 63);
    cursor: pointer;
}
#slideImg{
  width: 100%;
  height: 350px;
}
#sli{
  width: 100%;
}
.card-body{
  position: relative;
}
.imgCard{
  height: 66%;
}
.imgCardTop{
  float: left;
  border-radius: 15%;
  height: 100px;
  width: 150px;
  margin-right: 20px;
}

#drawer{
  color: rgb(177, 170, 160);
  background-color: rgb(26, 28, 34);
  position: absolute;
  height: 100%;
  width: 100%;
}

.btnCard{
  background-color:black;
  color: darkblue;
}

.pointer {
  cursor: pointer;
  margin-top: 20px
}

#fixed-top{
  border-bottom: 1px solid rgb(56, 61, 63);
  background-color:rgb(32, 35, 42);
  position: fixed;
  width:100%;
  z-index: 1;
}

.imgAndName{
  float: left;
  padding: -1000px
}
.detailsbtn p{
    color: rgb(177, 170, 160);
    font-size: 16px;
    line-height: 1.25;
    display: block;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 0px
}

.Rating{
  float: left;
  font-size: 70px;
  margin-top: 20px;
  margin-right: 10px;
}
.RatingPer{
  font-size: 80px;
  margin-top: 20px;
}
.detailsbtn{
  margin-top: 10px;
  margin-left: 100px;
}
.ratings_count{
  margin-left: 4px;
}

.cardBody{
  height: 400px;
  margin: -17px;
  margin-top: 5px;
  padding-bottom: 0px
}
#navtabs:hover {
  border-color: rgb(56, 61, 63);
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
#navtabs a{
  color: rgb(209, 205, 199);
  text-decoration-color: initial;
}

#moreBtn{
  margin: 20px;
  color: rgb(209, 205, 199);
  background-color: rgb(27, 30, 31);
  border-color: rgb(50, 54, 56);
  border: 5px solid transparent;
}

.h1Header{
  margin-top: -15px;
  margin-bottom: 20px;
}

.notYet:hover{
  font-size: 0em;
  cursor: not-allowed;
}

.notYet:hover::after{
  cursor: not-allowed;
  content: "Not supported yet";
  font-size: 15px;
  line-height: 28px;
  font-weight: bold;
}