<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/1b3f86c6-3310-4505-b99d-f209b8a4494a/resourcegroups/RGTechMEDashboard/providers/Microsoft.Web/sites/PositiveQuoteAPI</ResourceId>
    <ResourceGroup>RGTechMEDashboard</ResourceGroup>
    <ApiResourceId>/subscriptions/1b3f86c6-3310-4505-b99d-f209b8a4494a/resourceGroups/RGTechMEDashboard/providers/Microsoft.ApiManagement/service/PositiveQuoteapi/apis/PositiveQuoteAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://positivequoteapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>fb841ead-6630-43d0-be75-81ffb36b17ad</ProjectGuid>
    <MSDeployServiceURL>positivequoteapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>PositiveQuoteAPI</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$PositiveQuoteAPI</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>